* {
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}

body {
    background-color:#1e1e1e;
}

h1, h2 {
    color:#FFFFFF;
    text-align:center;
    font-size:40px;
}
h2 {
    font-size:25px;
    margin-top:30px;
}
.conteiner {
    display:flex;
    justify-content:center;
    margin-top:30px;
}
img {
    display:flex;
    justify-content:center;
    width:50%;
    height:50%;
}